<% if object.errors.any? %>
    <h2>
        <%= pluralize(object.errors.count, 'error') %>
        occured:
    </h2>

    <ul>
        <% object.errors.full_messages.each do |message| %>
           <ul> <%= message %> </ul>
        <% end %>
<% end%>